.poster{
    /* margin-top: 60px; */
    width: 330px;
    height: 430px;  
    list-style-type: none;
    background-color: #000000;
}

.image{
    margin: auto;
    width: 330px;
    height: 430px;   
}

.info, .remove{
    width: 110px;
    height: 25px;
    opacity: 0;
    border: 1px white solid ;
    border-radius: 15px;
    background-color: #45A29E;
    color: white;
    position: relative;
}

.info{
   bottom:200px;
   left: 115px;  
}

.remove{
    bottom:160px;
    left:5px;
}

.poster:hover img{
    opacity: .5;
}

.poster:hover p{
    opacity: 1;
}

.poster:hover button{
    opacity: 1;
}

.year,.title{
    padding: 5px 15px;
    color: aliceblue;
    position: relative;
    opacity: 0;
    font-size: 22px;
    left: 10px;
    bottom:410px;
}