.pagination ul{
    padding: 50px 0 40px;
    display: flex;
    justify-content: center;
    gap:10px;
}

.pagination ul li{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}    

.pagination ul li:hover{
    border: #45A29E solid;
}