.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:60px;
    margin: 0 100px;
}

.poster{
    margin-top: 60px;
    width: 320px;
    height: 390px;  
    list-style-type: none;
    border-radius: 20px;
}

.image{
    margin: auto;
    width: 350px;
    height: 430px;
}

.info, .remove{
    width: 110px;
    height: 25px;
    opacity: 0;
    border: 1px white solid ;
    border-radius: 15px;
    background-color: #45A29E;
    color: white;
    position: relative;
}

.info{
   bottom:200px;
   left: 120px;  
}

.remove{
    bottom:160px;
    left:10px;
}

.list .poster:hover img{
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.poster:hover p{
    opacity: 1;
}

.poster:hover button{
    opacity: 1;
}

.year,.title{
    padding: 5px 15px;
    color: aliceblue;
    position: relative;
    opacity: 0;
    font-size: 22px;
    left: 10px;
    bottom:410px;
}

