.container{
    display: flex;
    color:#fff;
}

.poster{
    padding: 30px 50px 0 115px;
}

.info{
    width: 900px;
    height: 540px;
    padding-top: 30px;
}

.title{
    font-size: 32px;
    padding-bottom: 10px;
}

.rating{
    display: flex;
    gap:10px
}

.imdb_rating{
    padding-bottom: 30px;
}

.film_info_block{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 30px;
}
.film_info_block div{
    background-color: var(--theme-color);
    padding: 6px 30px;
    border-radius: 5px;
    color: white;
}

.plot{
    padding-bottom: 15px;
}

.other_ratings{
    display: flex;
    justify-content: space-between;
}

.rating{
    display: flex;
    gap:10px
}

.edit{
    background-color: var(--theme-color);
    padding: 6px 50px;
    border: 1px solid;
    border-radius: 5px;
    color: #FFFFFF;
    float: right;
}

.edit_block{
    position: relative;
    padding-bottom: 30px;
    margin: 15px auto;
}

.production_info_block{
    border-bottom: 1px solid #45A29E;   
}

.production_info_block div{
    height: 50px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #45A29E;
}

.production_info_block div input{
    border-radius: 5px;
    height: 25px;
    width: 200px;
    padding: 5px 3px;
}