.container{
    display: flex;
    color:#fff;
}

.poster{
    padding: 30px 50px 0 115px;
}

.info{
    width: 1050px;
    padding: 30px 60px 0 0;
}

.title{
    font-size: 32px;
    padding-bottom: 10px;
}

.rating{
    display: flex;
    gap:10px
}

.imdb_rating{
    padding-bottom: 30px;
}

.film_info_block{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 30px;
    gap:10px;
}

.film_info_block div{
    background-color: var(--theme-color);
    padding: 6px 30px;
    border-radius: 5px;
    color: white;
}

.plot{
    padding-bottom: 15px;
}

.other_ratings{
    display: flex;
    justify-content: space-between;
}

.ratings{
    display: flex;
    gap: 60px;
}

.rating{
    display: flex;
    gap:10px
}

.edit{
    background-color: var(--theme-color);
    padding: 6px 50px;
    border: 1px solid;
    border-radius: 5px;
    color: #FFFFFF;
    float: right;
}

.edit_block{
    position: relative;
    padding-bottom: 30px;
    margin: 15px auto;
}

.production_info_block{
    border-bottom: 1px solid #45A29E;   
}

.production_info_block div{
    height: 50px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #45A29E;
}

.production_info_block div input{
    border-radius: 5px;
    height: 25px;
    width: 200px;
    padding: 5px 3px;
}

@media screen and (max-width:1440px){
    .poster{
        padding: 30px 40px 0 50px;
    }
}

@media screen and (max-width:1330px){
    .poster img{
        width: 260px;
    }

    .film_info_block div{
        padding: 5px 25px;
        font-size: 15px;
    }
}

@media screen and (max-width:1230px){
    .info{
        font-size: 13px;
    }
    .title{
        font-size: 30px;
    }

    .film_info_block div{
        padding: 4px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width:1130px){
    .film_info_block div{
        padding: 4px 18px;
        font-size: 12px;
    }
    .info{
        padding-right: 50px;
        font-size: 13px;
    }

    .title{
        font-size: 28px;
    }

    .poster img{
        width: 230px;
    }
    .edit{
        font-size:13px;
        padding: 5px 40px;
    }

    .edit_block{
        padding-bottom: 26px;
    }

    .production_info_block div{
        height: 44px;
        padding: 12px 0;
    }

    .ratings{
        display: flex;
        gap: 25px;
    }
}

@media screen and (max-width:990px){
    .info{
        font-size: 12px;
    }
    .ratings{
        gap: 10px;
    }

    .film_info_block div{
        padding: 3px 15px;
        font-size: 10px;
    }
}

@media screen and (max-width:925px){
    .ratings{
        flex-direction: column;
    }
}

@media screen and (max-width:900px){
    .film_info_block div{
        padding: 3px 13px;
        font-size: 9px;
    }

    .edit{
        font-size:11px;
        padding: 4px 33px;
    }

    .edit_block{
        padding-bottom: 23px;
    }
}

@media screen and (max-width:840px){
    .film_info_block div{
        padding: 3px 9px;
        font-size: 8px;
    }
}

@media screen and (max-width:768px){
    .container{
        flex-direction:column;
        align-items: center;
    }

    .poster,.poster img{
        padding: 20px 0 0;
        width: 400px;
    }

    .main_film_info{
        margin: 0 auto;
        width: 400px;
    }

    .info{
        align-items: center;
        font-size: 14px;
        max-width: 600px;
        padding: 30px 0 50px;
    }

    .film_info_block{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .film_info_block div{
        padding: 6px 20px;
        font-size: 14px;
    }

    .production_info_block{
        font-size: 12px;
    }
}

@media screen and (max-width:425px){
    .poster,.poster img{
        padding: 20px 0 0;
        width: 300px;
    }

    .main_film_info{
        margin: 0 auto;
        width: 300px;
    }

    .info{
        align-items: center;
        max-width: 350px;
        padding: 30px 0 50px;
        font-size: 12px;
    }

    .production_info_block{
        font-size: 12px;
    }
}