.main{
    height: 100%;
    flex: 1 1 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.list{
    display: grid;
    grid-template-columns: repeat(4,330px);
    gap:50px 100px;
    margin: 60px auto 0;
    padding-bottom: 0;
}

.pagination ul{
    padding: 50px 0 40px;
    display: flex;
    justify-content: center;
    gap:10px;
}

.pagination ul li{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}    

.pagination ul li:hover{
    border: var(--theme-color) solid;
}

.spinner{
    position: absolute;
    top:50%;
    left: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}

@media screen and (max-width: 1740px){
    .list{
        grid-template-columns: repeat(4,270px);
        gap:40px 80px;
    }

    .pagination ul{
        padding: 35px 0 25px;
    }
}

@media screen and (max-width: 1450px){
    .list{
        grid-template-columns: repeat(4,230px);
        gap:30px 50px;
    }
}

@media screen and (max-width: 1170px){
    .list{
        grid-template-columns: repeat(4,200px);
        gap:20px 40px;
    }

    .pagination ul li{
        width: 33px;
        height: 33px;
    }
}

@media screen and (max-width: 980px){
    .list{
        grid-template-columns: repeat(4,150px);
        gap:20px 30px;
    }

    .pagination ul li{
        width: 31px;
        height: 31px;
    }
}

@media screen and (max-width: 768px){
    .list{
        grid-template-columns: repeat(1,330px);
        gap:30px 50px;
    }
}

@media screen and (max-width: 425px){
    .list{
        grid-template-columns: repeat(1,200px);
        gap:20px 40px;
    }

    .pagination ul li{
        width: 33px;
        height: 33px;
    }
}