.main{
    height: 100%;
    flex: 1 1 auto;
}

.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    gap:60px;
    margin: 60px 100px 0;
}

.pagination ul{
    padding: 50px 0 40px;
    display: flex;
    justify-content: center;
    gap:10px;
}

.pagination ul li{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}    

.pagination ul li:hover{
    border: var(--theme-color) solid;
}