.poster{
    width: 330px;
    height: 430px;  
    list-style-type: none;
    background-color: #000000;
}

.image{
    margin: auto;
    width: 330px;
    height: 430px;   
}

.info, .remove{
    opacity: 0;
    border: 1px white solid ;
    border-radius: 15px;
    background-color:  var(--theme-color);
    color: white;
    position: relative;
}

.info{
   bottom:200px;
   left: 110px;
   padding: 5px 40px;
}

.remove{
    bottom:160px;
    padding: 7px 23px;
    font-size: 16px;
    font-weight: 600;
}

.poster:hover img{
    opacity: .5;
}

.poster:hover p{
    opacity: 1;
}

.poster:hover a{
    opacity: 1;
    text-decoration: none;
}

.poster:hover button{
    opacity: 1;
}

.year,.title{
    padding: 5px 15px;
    color: aliceblue;
    position: relative;
    opacity: 0;
    font-size: 22px;
    left: 10px;
    bottom:410px;
}