.poster{
    width: 300px;
    height: 415px;  
    list-style-type: none;
    background-color: #000000;
    position: relative;
}

.image{
    width: 100%;
    height: 100%;   
}

.info, .remove{
    opacity: 0;
    border: 1px white solid ;
    border-radius: 15px;
    background-color:  var(--theme-color);
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info{
    top: 80%;   
    padding: 5px 39px;
}

.remove{  
    top: 90%;
    padding: 6px 23px;
    font-size: 16px;
    font-weight: 600;
}

.poster:hover img{
    opacity: .5;
}

.poster:hover p{
    opacity: 1;
}

.poster:hover a{
    opacity: 1;
    text-decoration: none;
}

.poster:hover button{
    opacity: 1;
}

.year,.title{
    padding: 5px 15px;
    color: aliceblue;
    position: absolute;
    opacity: 0;
    font-size: 22px;
    left: 10px;
}

.year{
    top: 70px;
 }
 
 .title{  
    top:15px;
 }

@media screen and (max-width: 1740px){
    .poster{
        width: 270px;
        height: 350px;
    }

    .info{
        padding: 2px 37px;
    }
    
    .remove{  
        padding: 4px 21px;
    }

    .year,.title{
        font-size: 20px;
    }
}

@media screen and (max-width: 1450px){
    .poster{
        width: 230px;
        height: 300px;
    }

    .info{
        padding: 2px 33px;
    }
    
    .remove{  
        font-size: 14px;
    }

    .year,.title{
        font-size: 16px;
    }
}

@media screen and (max-width: 1170px){
    .poster{
        width: 200px;
        height: 260px;
    }

    .info{
        padding: 1px 30px;
        font-size: 13px;
    }
    
    .remove{  
        font-size: 12px;
        padding: 3px 20px;
    }
    .year{
        top: 60px;
     }
     
     .title{  
        top:10px;
    }

    .year,.title{
        left: 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 980px){
    .poster{
        width: 150px;
        height: 200px;
    }

    .info{
        padding: 1px 25px;
        font-size: 10px;
    }
    
    .remove{  
        font-size: 9px;
        padding: 3px 16px;
    }

    .year{
        top: 50px;
     }
     
     .title{  
        top:5px;
    }

    .year,.title{
        left: 0;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    .poster{
        width: 330px;
        height: 430px;
    }    
    .info{
        font-size: 16px;
        padding: 5px 39px;
    }
    
    .remove{  
        padding: 6px 23px;
        font-size: 16px;
        font-weight: 600;
    }

    .year,.title{
        padding: 5px 15px;
        font-size: 22px;
        left: 10px;
    }

    .year{
        top: 70px;
     }
     
     .title{  
        top:15px;
     }
}

@media screen and (max-width: 425px){
    .poster{
        width: 200px;
        height: 260px;
    }

    .info{
        padding: 1px 30px;
        font-size: 14px;
    }
    
    .remove{  
        font-size: 12px;
        padding: 3px 20px;
    }
    .year{
        top: 60px;
     }
     
     .title{  
        top:10px;
    }

    .year,.title{
        left: 0;
        font-size: 14px;
    }
}