.header{  
    display: flex;
    justify-content: space-between;
    position:relative;
    background-color: var(--theme-color);
}

.logo{
    padding: 30px;
    padding-left: 90px;
    margin: 0;
}

.menu {
    display: flex;
    gap:50px;
    padding-right: 70px;
    align-items: center;
}

.menu div{
    display: flex;
    gap:50px;
    align-items: center;
}

.adaptive_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    border: 0;
    display: none;
    padding-right: 50px;
}

@media screen and (max-width: 1440px) {
    .logo{
        padding-left: 70px;
    }
}

@media screen and (max-width: 768px) {
    .links a{
        display: none;
    }

    .menu{
        padding: 0;
    }

    .logo{
        padding-left: 50px;
        font-size: 25px;
    }

    .adaptive_menu {
        display: block;
    }
  
    .drop_down_links{
        display: flex;
        gap: 40px;
    }
}