:root{
    --bg-color:#3C3C3C;
    --theme-color: #45A29E;
}

html{
    box-sizing: border-box;
    background-color: var(--bg-color);
}

body{   
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    height: 100%;
}

*, *::after,*::before{
    box-sizing: inherit;   
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}
